[run]
source =
	write_checkin_to_dynamo,
branch = True

[report]
fail_under = 100
show_missing = True
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
